// ===============
// Typography
// ===============

.font--white {
	color: $white;
}
h1, .h1 {
	font-size: 40px;
}

h2, .h2 {
	font-size: 36px;
}

h3, .h3 {
	font-size: 26px;
}

h4, .h4 {
	font-size: 24px;
}

h5, .h5 {
	font-size: 22px;
}

h6, .h6 {
	font-size: 18px;
}

p, .p {
	font-size: 12px;
}
// ===============
// Site Styles
// ===============
.background--black {
	background-color: $black;
}
.section {
	height: 100vh;
	position: relative;
}
// ===============
// Header
// ===============
header {
	background-color: $black;
	color: $white;
}
// ===============
// Introduction
// ===============
.introduction--code {
	padding-top: 200px;
}
.line-animation {
	width: 100%;
	height:5px;
	border-bottom: 3px solid $white;
	animation-duration: 2.5s;
	animation-name: oldmonitor;
	position: absolute;
	top: 100%;
	&:before {
		content: "";
		width: 100%;
		border-bottom: 1px solid $white;
		animation-duration: 1.5s;
		animation-name: oldmonitor2;
		animation-iteration-count: infinite;
		position: absolute;
	}
	&:after {
		content: "";
		width: 100%;
		height:3px;
		border-bottom: 1px solid $white;
		animation-duration: 0.5s;
		animation-name: oldmonitor2;
		animation-iteration-count: infinite;
		position: absolute;
	}
}

@keyframes oldmonitor {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes oldmonitor2 {
	from {
		top: 0%;
		opacity: 1;
	}
	to {
		top: 500%;
		opacity: 0;
	}
}