// ===============
// Typography
// ===============
* {
	font-family: $source-sans;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font--white {
	color: $white;
}
.font--gray {
	color: $gray;
}
h1, .h1 {
	font-size: 62px;
	line-height: 1;
}

h2, .h2 {
	font-size: 36px;
}

h3, .h3 {
	font-size: 26px;
}

h4, .h4 {
	font-size: 24px;
}

h5, .h5 {
	font-size: 22px;
}

h6, .h6 {
	font-size: 18px;
}

p, .p {
	font-size: 16px;
}

a {
	color: $blue;
	@include transition(color, 300ms, ease);
	text-decoration: none;
	&:hover {
		color: $white;
	}
}
.link--black {
	color: $black;
	&:hover {
		color: black;
	}
}
// ===============
// Site Styles
// ===============
body {
	background: url("/assets/images/oregonwood-dark.jpg") no-repeat center center fixed;
	background-size: cover;
}
.background--white {
	background-color: $white;
	position: relative;
}
.section {
	height: 100vh;
	position: relative;
}
hr {
	margin: 5px 0px;
	border-color: $black;
}
.highlight {
	color: $white;
	position: relative;
	font-weight: 700;
	&:after {
		@include transition(all, 250ms, ease);
		content: "";
		background-color: $blue;
		position: absolute;
    width: 102%;
    top: 50%;
    height: 50%;
    left: -2px;
    z-index: -1;
	}
	&:hover {
		&:after {
			background-color: $black;
			height: 0%;
			top: 100%;
		}
	}
}
// ===============
//	Special FX
// ===============
.js-fade {
	opacity: 0;
	@include transition(opacity, 1s, ease);
}
.is-finished {
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
// ===============
// Header
// ===============
.header {
	@include transition(all, 0.2s, linear);
	color: $white;
	background-color: black;
	position: fixed;
	top: -40px;
	width: 100%;
	opacity: 0;
	z-index: 2;
}
.up {
	opacity: 1;
	top: 0px;
}
// ===============
// Page Styles
// ===============
.introduction {
	padding-top: 250px;
}
.introduction--headline {
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -1px;
		border-bottom: 1px solid $blue;
		width: 52%;
	}
	&:before {
		left: -53%;
	}
	&:after {
		right: -53%;
	}
}